---
layout: default
---

{% assign items = site.shortdocs | sort: 'sort' %}

<div class="row full-width">
    <div class="large-4 columns code-column">
      {% for item in items %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 1 %}
          {% include shortdoc.html %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="large-4 columns code-column">
      {% for item in items %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 2 %}
          {% include shortdoc.html %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="large-4 columns code-column">
      {% for item in items %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if loopindex == 0 %}
          {% include shortdoc.html %}
        {% endif %}
      {% endfor %}
    </div>
</div>