
<header class="site-header">
	<a href="#top" id="top-button" title="Top"><i class="icon-arrow-up"></i></a>
	<div class="fixed">
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name"><h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1></li>
				<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="comments-toggle"><a href="#"><i class="icon-comments"></i> Toggle Code Comments</a></li>
					<li><a href="/Laravel%20Cheatsheet.pdf"><i class="icon-download"></i> PDF Version</a></li>
					<li><a href="http://github.com/ryanwachtl/silverstripe-cheatsheet" target="_blank"><i class="icon-github"></i> Github</a></li>
					<li><a href="http://doc.silverstripe.org/"><i class="icon-book"></i> SilverStripe Docs</a></li>
				</ul>
			</section>
		</nav>
	</div>

	<a name="top" id="top-anchor"></a>
</header>